doctype html
html(lang='ru')
  include blocks/head.pug
  body
    .wrapper
      include blocks/header.pug
      block content
      include blocks/footer.pug
    script(src='/js/vendor.js')
    script(src='/js/main.js')